.pt-100{
    padding-top: 100px;
}
.house-rent-item-details-header-container{
    text-align: center;
    height: 300px;
    color: white;
    font-weight: 700;
    background:linear-gradient(rgba(0, 0, 0, 0.561),rgba(0, 0, 0, 0.561)),url("../../../../Images/images/header-bg.png");
    background-size: cover;
}