.card-body input{
    border: none;
    border-bottom: 1px solid black;
    margin: 10px;
    width: 370px;
    padding: 10px; 
    color: black;   
}
.google{
    border: 1px solid black;
    width: 400px;
    border-radius: 45px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 4px;
}
.google img{
    height: 40px;
}
.google h6{
    margin-top:10px;
    margin-right: 100px;   
    
}        