.header-container{
    height: 600px;
    background: linear-gradient(rgba(0, 0, 0, 0.561),rgba(0, 0, 0, 0.561)),url("../../../Images/images/header-bg.png");
    background-position: center;
    background-size: cover;
}